body {
     margin: 0px;
     font-family: 'Roboto', sans-serif;
 }
h1 {
    margin: 0;
}
.centerContainer {
    max-width: 1170px;
    margin: 0 auto;
}

.navBarListItem {
    list-style-type: none;
    float: left;
    font-family: "Avenir Next", serif;
    color: #8787AB;
}

.navBarList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}


#firstSection {
    position: relative;
    padding-top: 18px;
    z-index: 1;
}


#logoItem {
    width: 35px;
    height: 35px;
}

#downArrow {
    margin-bottom: 2px;
}

.wrapper{
    display: inline-block;

    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 3px;


}

.hero{
    margin: 0 auto;
    margin-top: -91px;
    display: flex;
    background: url("Resources/background-right.png"), url("Resources/background-left.png");
    background-position: right top, left top;
    background-repeat: no-repeat;
}

footer {
    background-image: url("Resources/bottomBackground.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 630px;
    padding-bottom: 0px;
    display: flex;
    align-items;
}

.formText {
    text-align: center;
    max-width: 600px;
    font-family: "Avenir Next", serif;
    font-size: 42px;
    color: white;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.betaFormList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    height: 165px;
    justify-content: space-between;
}

.betaFormList li {
    list-style-type: none;
    width: 100%;
}

.betaFormList input {
    width: 100%;
}

.bottomContainer {
    margin-bottom: 0;
    align-self: flex-end;
    width: 100%;
}

.submit_button {
    width: 250px;
    background-color: #FFAF3E;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 36px;
    padding-right: 36px;
    border-width: 0;
    border-radius: 22px;
    font-family: "Avenir Next", serif;
    font-size: 13px;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0px 5px 0 rgba(97,156,255,0.1), 0 4px 4px 0 rgba(97,156,255,0.1);
    transition: background-color .4s ease;

}

.submit_button:hover {
  background-color: #EDA238;
}

.formTextField {
    border-width: 0;
    background-color: transparent;
    height: 30px;
    outline: none;
    caret-color: #80B0FF;
    font-family: "Avenir Next", serif;
    font-size: 15px;
    border-bottom-color: #305CB5;
    border-bottom-width: 1px;
    color: white;
    text-align: center;
}

input::placeholder {
    text-align: center;
    font-family: "Avenir Next", serif;
    color: #80B0FF;
    font-size: 15px;
}

.copyright {
    margin-top: 74px;
    margin-bottom: 30px;
    font-family: "Avenir Next", serif;
    font-size: 17px;
    color: #80B0FF;
}

.hero__copy{
    position: relative;
    align-items: center;
    padding-top: 200px;
    float: left;
}

.hero__title{
  color: black;
  font-weight: 400;
  font-size: 50px;
  text-align: left;
  max-width: 300px;
}

.hero__subtitle{
      max-width: 450px;
      color: #8787AB;
      font-weight: 200;
      line-height: 1.8;
      font-size: 16px;
      text-align: left;
}

.section__title{
  color: black;
  font-weight: 400;
  font-size: 50px;
  text-align: center;

}

.hero__mockups{
    position: relative;
    justify-content: flex-end;
    float: right;
    margin-right: -130px
}

.hero__mockups__phone_1{
margin-bottom: 100px;

}

.hero__mockups__phone_2{
margin-top: 140px;

}


































